@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  background: url("./assets/images/vector-hero.png");
  background-repeat: no-repeat;
  background-size: contain;
}

label {
  color: #344054;
  font-weight: 500 !important;
  font-size: 14px !important;
}

body {
  color: #232323;
}

.ci-shadow {
  border-radius: 25px 25px 0 0;
  background: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.shadow {
  background: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.upload-bg {
  border-radius: 15px;
  background: linear-gradient(
    276deg,
    rgba(0, 212, 225, 0.13) 0%,
    rgba(0, 255, 255, 0.13) 96.71%
  );
}

table {
  border-radius: 15px !important;
  color: #475467;
  font-size: 14px;
}

td {
  border: none !important;
  white-space: nowrap !important;
}

thead {
  border-bottom: 1px solid var(--gray-200, #eaecf0);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

button.mantine-active.mantine-Pagination-control {
  color: #232323 !important;
}

.mantine-LoadingOverlay-root {
  position: fixed !important;
}

label {
  font-weight: 600 !important;
  margin-bottom: 4px !important;
}


.RandomIcon_container::before {
  content: "";
  position: absolute;
  top: 0;
  /* left: 0; */
  z-index: 30;
  width: 100%;
  height: 4.5rem;
  background: linear-gradient(0deg, hsla(0, 0%, 10%, 0.4), hsl(0, 0%, 2%));
  background-blend-mode: normal, screen;
}

.random-icon {
  position: absolute;
}

.random-icon:nth-child(1) {
  left: 224px;
  top: 92px;
}

.random-icon:nth-child(2) {
  left: 238px;
  top: 180px;
}

.random-icon:nth-child(3) {
  left: 84px;
  top: 5px;
}

.random-icon:nth-child(4) {
  left: 98px;
  top: 64px;
}

.random-icon:nth-child(5) {
  left: 161px;
  top: 12px;
}

.random-icon:nth-child(6) {
  left: 177px;
  top: 100px;
}

.random-icon:nth-child(7) {
  left: 15px;
  top: 116px;
}

.random-icon:nth-child(8) {
  left: 110px;
  top: 110px;
}

.random-icon:nth-child(9) {
  left: 222px;
  top: 48px;
}

.random-icon:nth-child(10) {
  left: 70px;
  top: 165px;
}

.random-icon:nth-child(11) {
  left: 153px;
  top: 157px;
}

.random-icon:nth-child(12) {
  left: 294px;
  top: 124px;
}

.random-icon:nth-child(13) {
  left: 29px;
  top: 44px;
}

.random-icon:nth-child(14) {
  left: 298px;
  top: 21px;
}

.random-icon:nth-child(15) {
  left: 48px;
  top: 84px;
}

.random-icon:nth-child(16) {
  left: 221px;
  top: 150px;
}

.main {
  width: -webkit-fill-available;
}